/*------------------------------
    PRELOADER
-------------------------------*/

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 5px solid #ff9933;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}


/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .area-title h2 {
        font-size: 60px;
    }
    .portfolio-area .area-title-and-content {
        margin-bottom: 80px;
    }
    button.collapsed.navbar-toggle.navbar-bdphoto {
        margin: 22px 0;
    }
    .navbar-header {
        margin-top: -4px;
    }
    ul#nav li a {
        padding: 30px 10px;
    }
    .is-sticky ul#nav li a {
        padding: 20px 10px;
    }
    .home-top-layer {
        width: 70%;
    }
    .welcome-text h1 {
        font-size: 120px;
    }
    .home-top-layer::after {
        display: block;
        width: 100%;
    }
    .welcome-text h3 {
        font-size: 32px;
    }
    .welcome-img {
        width: 70%;
    }
    .welcome-mockup-img {
        max-width: 90%;
    }
    .about-img-one>img {
        max-width: 80%;
        width: auto;
    }
    .about-img-two>img {
        max-width: 90%;
    }
    .single-price.active .price-details::after,
    .single-price:hover .price-details::after {
        left: 34px;
        opacity: 1;
    }
    .contact-social h3::after {
        width: 50px;
    }
}


/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding: 80px 0;
    }
    .padding-top {
        padding-top: 80px;
    }
    .collapsed.navbar-toggle.hidden-xs.hidden-sm.navbar-bdphoto {
        display: none !important;
    }
    .bs-example-js-navbar-scrollspy {
        float: left;
        width: 100%;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse,
    .navbar-toggle {
        border: 2px solid #ffffff;
        border-radius: 0;
        display: block !important;
    }
    .navbar-toggle .icon-bar {
        background: #ffffff none repeat scroll 0 0;
    }
    .navbar-header {
        /*  border-bottom: 1px solid #00aff0;*/
        float: none;
        margin: 0;
        padding: 15px 0;
    }
    .is-sticky .navbar-header {
        border-bottom: 1px solid #ffffff;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .navbar-brand {
        padding: 8px;
        margin-top: -10px;
    }
    .is-sticky .navbar-brand {
        margin-top: -3px;
    }
    .mainmenu-area ul#nav {
        background: #000000 none repeat scroll 0 0;
    }
    ul#nav li a,
    .is-sticky ul#nav li a {
        color: #fff;
        padding: 10px 15px;
    }
    ul#nav li a::after {
        display: none;
    }
    /*-----------------*/
    .area-title h2 {
        font-size: 50px;
    }
    .home-top-layer {
        width: 100%;
    }
    .home-top-layer::after {
        display: block;
    }
    .welcome-text h1 {
        font-size: 120px;
    }
    .about-details {
        margin-bottom: 0;
    }
    .service-top {
        color: #fff;
    }
    .service-top-area-bg {
        -webkit-transform: inherit !important;
        transform: inherit !important;
        width: 100%;
    }
    .single-service {
        margin-bottom: 50px;
        margin-top: inherit;
        -webkit-transform: inherit !important;
        transform: inherit !important;
    }
    .single-service.padding-bottom {
        padding-bottom: inherit;
    }
    .service-area .row>div:last-child .single-service {
        margin-bottom: 0;
    }
    .service-top a.readmore {
        background: #fff none repeat scroll 0 0;
        color: #000;
    }
    .service-top a.readmore:hover {
        background: #ff9933 none repeat scroll 0 0;
        color: #000;
    }
    .single-portfolio {
        margin-bottom: 30px;
    }
    .portfolio-area .area-title-and-content {
        margin-bottom: 50px;
    }
    .portfolio-img img {
        width: 100%;
    }
    .single-price {
        -webkit-transform: inherit !important;
        transform: inherit !important;
    }
    .priceing-area .area-title-and-content {
        margin-bottom: 80px;
    }
    .priceing-area .padding-bottom {
        padding-bottom: 0;
    }
    .single-price {
        margin-bottom: 50px;
    }
    .priceing-area .row .col-lg-4:last-child .single-price:last-child {
        margin-bottom: 0;
    }
    .contact-area-bg {
        background-size: cover;
    }
    .footer-copyright,
    .footer-area ul {
        text-align: center;
    }
    ul#nav {
        background: inherit;
    }
}


/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/

@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 50px 0;
    }
    .area-title {
        margin-bottom: 50px;
    }
    .area-title h2 {
        font-size: 32px;
    }
    .padding-top {
        padding-top: 50px;
    }
    .navbar-header {
        border-bottom: 1px solid #ffffff;
        margin: 0;
        padding: 15px 0;
    }
    .bs-example-js-navbar-scrollspy {
        float: left;
        width: 100%;
    }
    .navbar-toggle {
        border: 2px solid #ffffff;
    }
    .navbar-toggle .icon-bar {
        background: #ffffff none repeat scroll 0 0;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .navbar-brand {
        padding: 8px;
        margin-top: -10px;
    }
    .is-sticky .navbar-brand {
        margin-top: -3px;
    }
    .mainmenu-area {
        background: #272727 none repeat scroll 0 0;
    }
    ul#nav li a,
    .is-sticky ul#nav li a {
        color: #fff;
        padding: 10px 15px;
    }
    ul#nav li a::after {
        display: none;
    }
    /*-----------------*/
    .welcome-text p {
        display: none;
    }
    .home-button {
        margin-top: 30px;
        display: inline-block;
    }
    .inline-block li {
        padding: 5px 10px;
    }
    .home-top-layer {
        width: 100%;
    }
    .home-top-layer::after {
        display: block;
    }
    .welcome-text h1 {
        font-size: 72px;
    }
    .welcome-text h1 span {
        font-size: 35px;
        letter-spacing: 5px;
    }
    .hidding-content {
        padding: 0;
    }
    .about-area .owl-controls {
        right: -30px;
    }
    .service-bottom-area-bg {
        display: none;
    }
    .service-top {
        color: #fff;
    }
    .service-top-area-bg {
        -webkit-transform: inherit !important;
        transform: inherit !important;
        width: 100%;
    }
    .single-service {
        margin-bottom: 50px;
        margin-top: inherit;
        -webkit-transform: inherit !important;
        transform: inherit !important;
    }
    .single-service.padding-bottom {
        padding-bottom: inherit;
    }
    .service-area .row>div:last-child .single-service {
        margin-bottom: 0;
    }
    .service-top a.readmore {
        background: #fff none repeat scroll 0 0;
        color: #000;
    }
    .service-top a.readmore:hover {
        background: #ff9933 none repeat scroll 0 0;
        color: #000;
    }
    .portfolio-content.tab-content {
        -webkit-transform: inherit !important;
        transform: inherit !important;
    }
    .single-portfolio {
        margin-bottom: 30px;
    }
    .portfolio-area .area-title-and-content {
        margin-bottom: 50px;
    }
    .portfolio-img img {
        width: 100%;
    }
    .single-price {
        -webkit-transform: inherit !important;
        transform: inherit !important;
    }
    .priceing-area .area-title-and-content {
        margin-bottom: 80px;
    }
    .priceing-area .padding-bottom {
        padding-bottom: 0;
    }
    .single-price {
        margin-bottom: 50px;
    }
    .priceing-area .row .col-lg-4:last-child .single-price:last-child {
        margin-bottom: 0;
    }
    .post-details {
        position: inherit !important;
        left: inherit;
    }
    .post-details .postmeta {
        font-size: 12px;
    }
    .contact-area-bg {
        background-size: cover;
    }
    .footer-copyright,
    .footer-area ul {
        text-align: center;
    }
    ul#nav {
        background: inherit;
    }
}


/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .section-padding {
        padding: 50px 0;
    }
    .area-title h2 {
        font-size: 40px;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .welcome-text p {
        display: block;
    }
    .home-button {
        margin-top: 60px;
    }
    .home-button a {
        font-size: 15px;
        letter-spacing: 2px;
        margin-left: 20px;
        padding: 12px 30px;
        display: inline-block !important;
    }
}
